{% extends 'base.html' %}

{% block content %}
    <div id="wrapper">
        <form action="{% url 'login' %}" method="post" id="form-login">
            {% csrf_token %}
            <h1 class="form-heading">Form đăng nhập</h1>
            <div class="form-group">
                <i class="far fa-user"></i>
                <input type="text" name="username" class="form-input" placeholder="Tên đăng nhập">
            </div>
            <div class="form-group">
                <i class="fas fa-key"></i>
                <input type="password" name="password" class="form-input" placeholder="Mật khẩu">
                <div id="eye">
                    <i class="far fa-eye"></i>
                </div>
            </div>
            <input type="submit" value="Đăng nhập" class="form-submit">
        </form>
    </div>

    <!-- Thêm thẻ meta ở đầu phần head để hỗ trợ tiếng Việt -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="js/app.js"></script>

    <style>
        #form-login {
            max-width: 200px;
            margin: auto;
            background: rgba(255, 255, 255, 0.8);
            padding: 15px;
            box-shadow: 0px 0px 17px 2px rgba(255, 255, 255, 0.8);
            position: relative;
            overflow: hidden;
            border: 2px solid #3498db;
            border-radius: 10px;
            padding: 20px;
            transition: box-shadow 1s ease-in-out, border 0.5s ease-in-out; /* Added border transition */
            /* Added styles for border animation */
            border-image: linear-gradient(90deg, #FDA8CF, #F3CE5E);
            border-image-slice: 1;
        }

        #form-login:hover {
            box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.1);
            border-width: 5px; /* Increase border width on hover */
        }

        /* Chữ "Dev" xoay vòng quanh */
        .form-heading {
            position: relative;
        }

        .form-heading::before {
            content: "Dev Nguyễn Hoàng Vũ";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(360deg);
            color: #f00;
            font-weight: bold;
            font-size: 20px;
            animation: rotateText 5s linear infinite;
            white-space: nowrap;
        }

        @keyframes rotateText {
            0% {
                transform: translate(-50%, -50%) rotate(0deg);
            }
            100% {
                transform: translate(-50%, -50%) rotate(360deg);
            }
        }
    </style>
{% endblock %}
