{% extends 'base.html' %}

{% block title %}Đăng nhập - {{ block.super }}{% endblock %}

{% block login_content %}
    <!-- Thêm nội dung của trang đăng nhập ở đây -->
    <h2>Đăng nhập</h2>
    <div id="wrapper">
        <form action="{% url 'login' %}" method="post" id="form-login">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Tên đăng nhập:</label>
                <input type="text" name="username" id="username" class="form-input" placeholder="Tên đăng nhập">
            </div>
            <div class="form-group">
                <label for="password">Mật khẩu:</label>
                <input type="password" name="password" id="password" class="form-input" placeholder="Mật khẩu">
            </div>
            <input type="submit" value="Đăng nhập" class="form-submit">
        </form>
        <a href="{% url 'register' %}" class="register-link">Đăng ký</a>
        <button onclick="closeLogin()">Thoát</button>
    </div>
{% endblock %}

<script>
    function closeLogin() {
        // Ẩn nội dung đăng nhập khi nhấn thoát
        document.getElementById('login-content').style.display = 'none';
    }
</script>
